<div id="barraSup">
    <div class="partion ms-5">
        <h2 class="me-2">USUARIO</h2>
        {{!-- {{userA}} --}}
        <p>¡Hola de nuevo!</p>
    </div>
    {{!-- <h1>Hola de nuevo, {{userA}}</h1> --}}
    <div class="partion ms-5 me-2">
        <div class="ms-3 p-2"><a class="bg-success bg-opacity-75 text-white rounded-1 p-2" href="/admin/inicio/salir">Sumar Animal</a></div>    
        <div class="ms-3 p-2"><a class="bg-danger bg-opacity-75 text-white rounded-1 p-2" href="/admin/inicio/salir">Cerrar Sesion</a></div>    
    </div>
</div>
{{!-- aca van los apadrinados --}}
<div id="apadrinados">
    {{#each misApadrinados}}
    <div id="patroCard" class="row rounded-2 bg-white">
        <div id="apaTitle" class="row-2">
            <div class="col-11 fs-3 fw-bold">
                <p class="m-0 text-white">{{nombre}}, {{especie}}</p>
            </div>
            <div class="col">
                <a href="/" class="end-0 text-danger">Quitar</a>
            </div>
        </div>
        <div class="row p-0 m-0">
            <div id="apaFoto" class="col m-0 float-star">
                <img src="{{{foto_i}}}" class="img-fluid" alt="test">
            </div>
            <div id="apaNotis" class="col m-0">
                <ul class="list-group list-group-flush y-fill">
                    {{!-- {{#each notisApa}}
                    <li class="list-group-item nats">
                        <i class="bi bi-chat-quote"></i>
                        {{noticia}}
                    </li>
                    {{/each}} --}}
                </ul>
            </div>
        </div>
    </div>
    {{/each}}
    {{!-- {{#each i_ser}} --}}
    <div id="patroCard" class="row rounded-2 bg-white">
        <div id="apaTitle" class="row-2">
            <div class="col-11 fs-3 fw-bold">
                <p class="m-0 text-white">TESTINGAS, el loquesea</p>
            </div>
            <div class="col">
                <a href="/" class="end-0 text-danger">Quitar</a>
            </div>
        </div>
        <div id="apaCorpo" class="row p-0 m-0 g-0">
            <div id="apaFoto" class="col m-0 float-star">
                <img src="/images/test300x300.jpg" class="img-fluid" alt="test">            
            </div>
            <div id="apaNotis" class="col m-0 d-flex align-items-stretch">
                {{!-- {{#each annoti}} --}}
                {{!-- fijate como es para text-warping test truncation en el bootstrap --}}
                {{!-- le puse a las noticias un max lenght de 46 caracteres --}}
                <ul class="list-group list-group-flush flex-fill">
                    <li class="list-group-item nats">
                        <i class="bi bi-chat-quote"></i>
                        Una noticias
                    </li>
                    <li class="list-group-item nats">Una noticias</li>
                    <li class="list-group-item nats">Una noticias</li>
                    <li class="list-group-item nats">Una noticias</li>
                </ul>
                {{!-- {{/each}} --}}
            </div>
        </div>
    </div>
    {{!-- {{/each}} --}}
    <div id="patroCard" class="row rounded-2 bg-white">
        <div id="apaTitle" class="row-2">
            <div class="col-11 fs-3 fw-bold">
                <p class="m-0 text-white">TESTINGAS, el loquesea</p>
            </div>
            <div class="col">
                <a href="/" class="end-0 text-danger">Quitar</a>
            </div>
        </div>
        <div class="row p-0 m-0">
            <div id="apaFoto" class="col m-0 float-star">
                <img src="/images/test300x300.jpg" class="img-fluid" alt="test">            
            </div>
            <div id="apaNotis" class="col m-0">
                {{!-- {{#each annoti}} --}}
                <ul class="list-group list-group-flush y-fill">
                    <li class="list-group-item">Una noticias</li>
                    <li class="list-group-item">Una noticias</li>
                    <li class="list-group-item">Una noticias</li>
                    <li class="list-group-item">Una noticias</li>
                    <li class="list-group-item">Una noticias</li>
                </ul>
                {{!-- {{/each}} --}}
            </div>
        </div>
    </div>
    <div id="patroCard" class="row rounded-2 bg-white">
        <div id="apaTitle" class="row-2">
            <div class="col-11 fs-3 fw-bold">
                <p class="m-0 text-white">TESTINGAS, el loquesea</p>
            </div>
            <div class="col">
                <a href="/" class="end-0 text-danger">Quitar</a>
            </div>
        </div>
        <div class="row p-0 m-0">
            <div id="apaFoto" class="col m-0 float-star">
                <img src="/images/test300x300.jpg" class="img-fluid" alt="test">            
            </div>
            <div id="apaNotis" class="col m-0">
                {{!-- {{#each annoti}} --}}
                <ul class="list-group list-group-flush y-fill">
                    <li class="list-group-item">Una noticias</li>
                    <li class="list-group-item">Una noticias</li>
                    <li class="list-group-item">Una noticias</li>
                    <li class="list-group-item">Una noticias</li>
                    <li class="list-group-item">Una noticias</li>
                </ul>
                {{!-- {{/each}} --}}
            </div>
        </div>
    </div>
    <div id="patroCard" class="row rounded-2 bg-white">
        <div id="apaTitle" class="row-2">
            <div class="col-11 fs-3 fw-bold">
                <p class="m-0 text-white">TESTINGAS, el loquesea</p>
            </div>
            <div class="col">
                <a href="/" class="end-0 text-danger">Quitar</a>
            </div>
        </div>
        <div class="row p-0 m-0">
            <div id="apaFoto" class="col m-0 float-star">
                <img src="/images/test300x300.jpg" class="img-fluid" alt="test">            
            </div>
            <div id="apaNotis" class="col m-0">
                {{!-- {{#each annoti}} --}}
                <ul class="list-group list-group-flush y-fill">
                    <li class="list-group-item">Una noticias</li>
                    <li class="list-group-item">Una noticias</li>
                    <li class="list-group-item">Una noticias</li>
                    <li class="list-group-item">Una noticias</li>
                    <li class="list-group-item">Una noticias</li>
                </ul>
                {{!-- {{/each}} --}}
            </div>
        </div>
    </div>
</div>

