<div class="sectionario">
    <h2 class="ps-4">Residentes permanentes</h2>
</div>
{{!-- esta la intro --}}
<div>
    <p class="m-5 ps-3 pe-3">
        Conocé a algunos de los residentes permanentes (y casi silvestres!) del refugio. Si bien algunos no pueden volver completamente a la naturaleza por diversas razones, conviven con nosotros lo mas cerca posible de su verdadero habitat.
        <br> Tambien podes ver que anda sucediendo con ellos en el dia a dia. 
    </p>
</div>
<div class="bodApadrinados">
    {{#each apadrinados}}
    <div class="patrocinCard row rounded-2 bg-none border-0">
        <div class="apadriTitle row-2">
            <div class="col-11 fs-3 fw-bold">
                <p class="m-0 text-white">{{nombre}}, <span class="fs-5">{{especie}}</span></p>
                {{!-- <p class="m-0 text-white">{{nombre}}, {{especie}}</p> --}}
            </div>
        </div>
        <div class="apadriCorpo row p-0 m-0 g-0">
            <div class="apadriFoto m-0 float-star">
                <img src="{{imagen}}" class="img-fluid" alt="test">   
            </div>
            <div>
                <a href="/apadrinos/link/{{i_ser}}" class="btn btn-success" style="width: inherit;">¿Que hay de nuevo?</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>