<div class="sectionario">
    <h2 class="ps-4">Ultimas novedades</h2>
</div>

<div id="buscadorNoticia" class="float-end m-3">
    <form action="/noticias" method="get">
        <div class="mb-3">
            <label for="buscar" class="form-label">Busqueda:</label>
            <input type="search" class="form-control" id="buscar" name="buscar" placeholder="Buscar..." maxlength="80" {{#if
                buscar}}value="{{buscar}}" {{/if}}>
        </div>
        <button type="submit" class="btn btn-success container"><i class="bi bi-eye-fill"></i> Buscar</button>
    </form>
    {{#if is_search}}
    {{#if sinRes}}
    <p class="text-danger p-1">No hay noticias sobre {{buscar}}</p>
    {{/if}}
    {{/if}}
</div>



<div id="noticias" class="seccione row gap-2 mt-2">
    <div id="nota" class="col-7">
        <!-- por defecto se llena con el ultimo articulo agregado, haces click y esta seccion cambia para mostrar la noticia elegida -->
        <div id="titularMAX" class="row-3">
            <i class="bi bi-bookmark-star pe-1"></i>{{tit_new}}
        </div>
        <div id="fechaNota" class="row-1 fst-italic mb-2" style="font-size: small;"><i class="bi bi-calendar-event"></i>
             {{fe_new}} 
        </div>
        <div id="corporalnota" class="row-7 text-start text-wrap mb-2">{{nota_new}}</div>
        


    </div>
    <div id="articulos" class="col-4">
        <ul id="articuloslista" class="overflow-auto">
            <h5 class="text-decoration-none pb-1">Lista de Noticias:</h5>
            {{#each noticias}}
            <li><a href="/noticias/id/{{i_new}}">{{titulo}}</a></li>
            {{/each}}
        </ul>
    </div>

</div>